@import url("https://fonts.googleapis.com/css2?family=Cambay&family=Monomaniac+One&display=swap");

html,
body #root {
  margin: 0;
  font-family: "Cambay", sans-serif;
  background-color: #fffcee;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.logo a {
  font-family: "Monomaniac One", cursive;
  color: #9370db;
  font-size: 8rem;
  margin: 0px;
  height: 6rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 0px;
  text-decoration: none;
}

.input {
  display: block;
  margin: 1rem auto;
  padding: 1.5rem;
  width: 80%;
  border: none;
  border-radius: 10px;
  background-color: #d2f3f9;
}

.button {
  padding: 0.6rem 1.5rem;
  background-color: #b18df0;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.icon-button {
  font-size: 1.2rem;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  padding: 0.8rem;
  border-bottom: 1px solid #ccc;
}
